.slider-for {
  // height: 50vh;
  // padding: 0 5px;
  margin-left: 5px;
  img {
    width: 100%;
    // height: 50vh;
    object-fit: contain;
  }
}
.content-slider-nav {
  margin-left: 1.5px;
}
.slider-nav {
  // height: 10vh;
  margin-top: 5px;
  .slick-slide {
    display: flex;
    align-items: center;
    // height: 10vh;
    margin: 0 5px;
    img {
      width: 100%;
      // height: 10vh;
      object-fit: cover;
    }
  }
  .slick-prev:before,
  .slick-next:before {
    content: '';
  }
  .slick-prev {
    background-image: url(../images/back-blue.svg);
    background-size: cover;
    background-position: center;
    width: 2rem;
    height: 2rem;
    left: -40px;
  }
  .slick-next {
    background-image: url(../images/next-blue.svg);
    background-size: cover;
    background-position: center;
    width: 2rem;
    height: 2rem;
    right: -40px;
  }
}
.price {
  span {
    margin-left: 2rem;
    font-weight: 300;
    align-items: center;
    @media (min-width: 768px) {
      display: flex;
    }
  }
  span.badge {
    border-radius: 0;
  }
}
input#cantidad {
  text-align: center;
  border: none;
  background: transparent;
  margin: 0 0.5rem;
  color: var(--primary-color);
  font-size: 1rem;
}
input#cantidad:focus-visible {
  outline: none;
}
input#cantidad::-webkit-outer-spin-button,
input#cantidad::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#mas, #menos {
  border-radius: 50px;
  border: none;
  background-color: #eee;
  color: var(--primary-color);
  font-size: 0.8rem;
}
.art-disp {
  color: #00cc51;
}
.contenedor-title {
  display: flex;
}
.title {
  padding-right: 4%;
}
.title p {
  margin-top: 0.18rem;
}
.line {
  flex-grow: 100;
  hr {
    background: var(--primary-color);
    width: 100%;
    height: 1px;
    margin: 0.8rem 0;
    opacity: 1;
  }
}
.hr-divisor {
  background: var(--primary-color);
  width: 100%;
  height: 1px;
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  content: '';
}
.slider-vistos {
  .slick-slide {
    padding: 0 1.5rem;
    @media (max-width: 600px) {
      padding: 0 0.5rem;
    }
  }
  .slick-prev {
    background-image: url(../images/back-blue.svg);
    background-size: cover;
    background-position: center;
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    transition: all 0.3s;
  }
  .slick-next {
    background-image: url(../images/next-blue.svg);
    background-size: cover;
    background-position: center;
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    transition: all 0.3s;
  }
  .slick-prev:hover,
  .slick-next:hover {
    opacity: 1;
  }
}