:root {
  --primary-color: #1f3165;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  /* display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2); */
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
button:focus {
  outline: none;
  box-shadow: none !important;
}

.sidenav {
  width: 0;
  position: absolute;
  z-index: 1050;
  top: 0;
  left: -200%;
  background-color: #fff;
  padding-top: 30px;
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
  max-width: 415px;
  width: 100%;
}

.logo-xs {
  width: 100%;
  height: 100%;
  max-width: 375px;
  max-height: 103px;
}

@media (min-width: 768px) {
  .sidenav {
    position: fixed;
    height: 100%;
  }
}

.sidenav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.sidenav li {
  position: relative;
}

.sidenav li ul {
  display: none;
}
.sidenav li:hover ul {
  display: block;
}

@media (min-width: 768px) {
  .sidenav li ul {
    position: absolute;
    top: 0px;
    right: -395px;
    background-color: #fff;
    width: 395px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    /* padding-bottom: 250px; */
    min-height: 561px;
    overflow: hidden;
  }
  .sidenav li ul li a {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.sidenav a {
  padding: 15px 16px 15px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: var(--primary-color);
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav a img {
  padding-right: 20px;
}

.sidenav a:hover,
.sidenav .active {
  background-color: #e5efff;
}

.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding-top: 5px;
}
.sidenav .closebtn:hover {
  background-color: transparent;
}

.sidenav .bg-red {
  border-radius: 0 !important;
  font-size: 1rem;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}

/* header */
.sticky-top {
  background-color: #fff;
}

header {
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
}

@media (min-width: 768px) {
  header {
    height: 145px;
  }
}

.main-header-logo {
  display: flex;
}

.main-header-logo .img-fluid {
  padding-top: 20px;
  padding-bottom: 23px;
  width: 100%;
  /* height: 103px; */
}

.main-header-right {
  display: none;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 768px) {
  .main-header-right {
    display: flex;
  }
  .logo-link {
    margin-left: 3.75rem;
  }
}
.search {
  justify-content: flex-end;
  margin-right: 108px;
}
.search .form-control {
  width: 100%;
  max-width: 489px;
  /* min-height: 40px; */
  /* border: none; */
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
  border-radius: 21px !important;
  /* font-family: "Roboto", sans-serif; */
  /* padding: 10px 30px; */
  /* color: #838383; */
  outline: none;
}
.search .q {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--primary-color);
  padding-right: 0;
  padding-left: 0;
  margin-left: -57px !important;
  z-index: 5;
  border-width: 0;
  background-color: transparent;
}

.search .form-control:focus {
  color: #1f3165;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
}

.main-link {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  max-height: 40px;
}

.main-link .cart {
  display: block;
  position: relative;
}

.main-link .cart .badge {
  position: absolute;
  right: -10px;
  border-radius: 1rem;
  font-weight: normal;
  padding: 0.35em 0.6em;
}
.bg-red {
  background-color: #ff0000 !important;
}

.main-link li {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  padding: 0 40px;
  position: relative;
}
.main-link li:first-child {
  padding-left: 0;
}

.main-link li::after {
  content: "";
  background-color: var(--primary-color);
  display: inline-block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
}

.main-link li:last-child:after {
  content: none;
}

.main-link li a {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

/* main */
.bar {
  margin-top: 30px;
  margin-bottom: 30px;
}
.bar ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

@media (max-width: 768px) {
  .bar ul {
    justify-content: center;
  }
}

.bar ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--primary-color);
  padding: 0 5px;
  position: relative;
  text-transform: uppercase;
  background-color: #fff;
  z-index: 2;
  font-size: 1rem;
  line-height: 1;
}

.bar ul li:first-child {
  padding-left: 0;
}
.bar ul li:last-child {
  padding-right: 0;
}
.bar ul li a {
  font-size: 0.9rem;
  line-height: 0.9;
  color: var(--primary-color);
  border-bottom: 2px solid transparent;
}

.bar ul li a.active,
.bar ul li a:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-color);
}

.bar li::after {
  content: "";
  background-color: var(--primary-color);
  display: inline-block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
}

.bar li:last-child:after {
  content: none;
}
@media (min-width: 768px) {
  .bar {
    padding-left: 4vw;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .bar ul::after {
    content: "";
    background-color: var(--primary-color);
    display: inline-block;
    height: 2px;
    width: 100%;
    position: absolute;
    top: calc(50%);
    right: 0;
    z-index: 1;
  }

  .bar ul li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    padding: 0 26px;
    position: relative;
    text-transform: uppercase;
    background-color: #fff;
    z-index: 2;
    font-size: 1rem;
    line-height: 1.5;
  }

  .bar ul li:last-child {
    padding-right: 26px;
  }

  .bar ul li a {
    color: var(--primary-color);
    border-bottom: 2px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
  }
}

.off-default {
  display: none;
}

.card {
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-width: 0;
  margin-bottom: 10px;
}
.card:hover {
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
}
.card .badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;

  border-radius: 0px;
}

@media (min-width: 768px) {
  .card {
    margin-bottom: 100px;
  }
  .card .badge {
    top: 30px;
    left: 30px;
    padding: 10px 20px;
  }
}
.card-img-top {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.card-title {
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: block;
  margin-bottom: 0;
  color: var(--primary-color);
  text-transform: uppercase;
}
.card-color {
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  display: block;
  color: var(--primary-color);
  text-transform: uppercase;
}
.card-price {
  display: flex;
  margin-top: 10px;
  margin-bottom: 70px;
  color: var(--primary-color);
}
.price {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.offer {
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-decoration: line-through;
  margin-left: 4px;
  margin-bottom: 4px;
  align-self: flex-end;
}
.card .btn-add {
  padding: 5px 12px;
}
@media (min-width: 768px) {
  .card-title {
    font-size: 1.3rem;
  }
  .card-color {
    font-size: 0.9rem;
  }
  .price {
    font-size: 1rem;
  }
  .offer {
    margin-left: 24px;
  }
  .price {
    display: flex;
  }
  .card .btn-add {
    padding: 10px 32px;
  }
}

@media (min-width: 1200px) {
  .card-title {
    font-size: 1.3rem;
  }
  .card-color {
    font-size: 0.9rem;
  }
  .price {
    font-size: 1rem;
  }
  .offer {
    font-size: 1.2rem;
  }

  .price {
    font-size: 1.2rem;
    display: flex;
  }
}

.btn-add {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 2rem;
  border-width: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 32px;
}

.btn-add:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.btn-add:focus {
  box-shadow: inherit;
}

.card:hover .off-default {
  display: block;
}
.card:hover .card-price {
  margin-bottom: 20px;
}
.load-more {
  margin-top: 14px;
  margin-bottom: 81px;
}

/* footer */
footer {
  background-color: #203165;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

footer a {
  color: #fff;
}
footer a:hover {
  color: #fcef7f;
}

.logo-footer {
  width: 100%;
}
.extended {
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-color: #fcef7f;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 85px;
  margin-bottom: 62px;
}
.extended-top {
  width: 120%;
  height: 100px;
  border-radius: 30%;

  background-color: #fff;
  position: absolute;
  top: -56px;
  left: -10%;
}

.extended-bottom {
  width: 120%;
  height: 200px;
  border-radius: 20%;
  background-color: #203165;
  position: absolute;
  bottom: -156px;
  left: -10%;
}
@media (min-width: 768px) {
  .extended-top {
    border-radius: 50%;
  }
  .extended-bottom {
    border-radius: 50%;
  }
}
.extended a {
  color: #1f1f1f;

  font-family: "Montserrat", sans-serif;
}
.extended strong {
  font-weight: 600;
}
.extended ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
}
.extended ul li {
  text-align: center;
  /* max-width: 180px; */
  padding: 0 20px;
}

.extended ul li img {
  margin: auto;
  display: block;
  margin-bottom: 30px;
}
.extended ul li span {
  /* display: inline; */
}
.description-logo {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .divisor {
    width: 2px;
    height: 90%;
    background-color: rgb(255 255 255 / 35%);
    margin: auto;
  }
}
.newsletter {
}
.newsletter h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  /* text-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%); */
}
.footer-logos {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .newsletter h3 {
    font-size: 1rem;
  }
  .footer-logos {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-direction: column;
  }
  .logo-right,
  .logo-left {
    text-align: center;
  }
  .logo-right {
    margin-top: 20px;
  }
}
.logo-right a:first-child {
  margin-right: 10px;
}

.contact-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 46px;
}

.contact-list li {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.contact-list li img {
  margin-right: 25px;
}

.footer-link {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid rgb(255 255 255 / 35%);
}
.footer-link ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer-link ul li {
  position: relative;
  line-height: 0;
}
.footer-link ul a {
  font-size: 0.8rem;
  line-height: 1;
  padding: 0 8px;
}

.footer-link ul li::after {
  content: "";
  background-color: rgb(255 255 255 / 35%);
  display: inline-block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
}

.footer-link ul li:last-child:after {
  content: none;
}

.copy {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .footer-link ul {
    flex-direction: column;
    text-align: center;
  }
  .footer-link ul li::after {
    content: none;
  }
}

/* navbar */
.navbar-toggler {
  color: rgb(0 0 0 / 55%);
  position: relative;
}

.navbar-toggler:focus {
  box-shadow: inherit;
}

.navbar-toggler-icon {
  background-image: url("./images/custom-icon/bars.svg");
}

/* @media (min-width: 1400px) { */
@media (max-width: 768px) {
  .navbar-toggler {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-toggler::after {
    content: "";
    background-color: var(--primary-color);
    display: inline-block;
    width: 1px;
    height: 46px;
    position: absolute;
    top: calc(50% - 23px);
    right: -4rem;
  }

  .navbar-toggler {
    padding: 0;
    margin-right: 4rem;
    margin-left: calc((var(--bs-gutter-x) / -2) + 3.25rem);
  }
}
/* } */
@media (min-width: 1200px) {
}
@media (min-width: 992px) {
}

/* utils */
.popover__title {
  /* font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0; */
}

.popover__wrapper {
}
.popover__content {
  opacity: 1;
  visibility: visible;
  visibility: hidden;
  position: absolute;
  left: -52px;
  transform: translate(0, 5px);
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  width: 226px;
  border-radius: 25px;
  z-index: 10;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  /* transform: translate(0, -5px); */
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}

.form-control {
  width: 100%;
  /* max-width: 482px; */
  min-height: 40px;
  border: none;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
  border-radius: 21px;
  font-family: "Roboto", sans-serif;
  padding: 10px 30px;
  color: #838383;
  outline: none;
  display: inline-block;
}
.modal {
  background-color: rgba(0 0 0 / 25%);
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}
.modal .contact-list li {
  margin-bottom: 15px;
}
.modal a {
  color: var(--primary-color);
}

.modal-header {
  border-width: 0;
  padding-top: 2rem;
  padding-right: 2rem;
}
.modal-title {
  font-size: 23px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.modal-title-2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.modal-content {
  border: none;
  border-radius: 20px;
}

.modal .form-control {
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid var(--primary-color);
  padding-left: 0;
}
.modal .eye {
  padding: 10px 30px;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding-right: 0;
}
.modal .modal-body {
  padding: 2rem;
  padding-top: 0;
}

.form-control:focus {
  color: #1f3165;
}

.btn-primary {
  color: #1d1d1d;
  background-color: #fcef7f;
  border-color: #fcef7f;

  font-family: "Roboto", sans-serif;
  padding: 7px 30px;

  min-height: 43px;
  border-width: 2px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
  border-radius: 21px;
  outline: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #1d1d1d;
  background-color: #fcef7f;
  border-color: #fcef7f;
}
.btn-primary:focus,
.form-control:focus {
  box-shadow: none !important;
}
.carousel-item {
  max-height: 700px;
}
.carousel-item::after {
  content: "";
  background: url(./images/frame.png);
  display: inline-block;
  width: 100%;
  height: 101%;
  position: absolute;
  top: 0px;
  z-index: 2;
  background-size: contain;
  bottom: 0;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 3;
}
.carousel-control-next,
.carousel-control-prev {
  width: 6%;
}

.carousel-caption {
  position: absolute;
  top: 9%;
  left: 6.5%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: left;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #000000;
}
.carousel-caption .title {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  line-height: 1;
  margin-bottom: 36px;
}

@media (max-width: 768px) {
  .carousel-caption .title {
    margin-bottom: 10px;
  }
  .carousel-caption p {
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .main-header-right {
    display: none;
  }
}
@media (max-width: 767px) {
  .carousel-caption {
    width: 100%;
    top: 0;
    left: 0;
  }
  .carousel-caption {
    text-align: center;
  }
  .carousel-caption .btn-add {
    margin: auto;
  }
  .carousel-caption p {
    text-align: center;
    font-size: 1.2rem;
  }
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
  .subscribed {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .carousel-caption .title {
    font-size: 30px;
  }
  .carousel-caption {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .carousel-caption .title {
    font-size: 40px;
  }
  .carousel-caption {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .carousel-caption .title {
    font-size: 50px;
  }
  .carousel-caption {
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .carousel-caption .title {
    font-size: 4.417rem;
    font-weight: 600;
  }
  .carousel-caption p {
    font-size: 2.083rem;
  }
}
.col-divider {
  position: relative;
}
.col-divider::after {
  content: "";
  background-color: #e4e4e4;
  display: inline-block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  /* calc(var(--bs-gutter-x)/ 2) */
}
.whatsapp {
  position: fixed;
  width: 169px;
  height: 169px;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 3;
  transition: all 0.2s ease-in-out;
}
.whatsapp img {
  width: 100%;
  height: 100%;
}

@media (max-width: 425px) {
  .w-100 {
    height: 60vh;
    width: auto;
  }
}

a.whatsapp:hover {
  transform: scale(0.9);
}
.messenger {
  position: fixed;
  width: 169px;
  height: 169px;
  bottom: 20px;
  right: 120px;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 3;
  transition: all 0.2s ease-in-out;
}
.messenger img {
  width: 100%;
  height: 100%;
}

a.messenger:hover {
  transform: scale(0.9);
}
.mb-35 {
  margin-bottom: 35px;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1420px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 493px;
    /* margin-top: 146px; */
  }
}

@media (max-width: 768px) {
  .messenger {
    width: 80px;
    height: 80px;

    right: 80px;
  }
  .whatsapp {
    width: 80px;
    height: 80px;
  }
}
