<section class="slider">
  <div class="container-fluid px-0">
    <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url(./assets/images/banner_1.png);">
          <!-- <img src="./assets/images/banner_1.png" class="d-block w-100" alt="" /> -->
          <div class="carousel-caption">
            <h2 class="title">
              APROVECHA NUESTRAS <br />
              PROMOCIONES
            </h2>
            <p class="">
              Llévate las mejores ofertas <br />
              y disfruta ahora de un nuevo <br />
              rediseño en tu hogar.
            </p>
            <a href="#" class="btn btn-add">VER MÁS</a>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url(./assets/images/banner_2.png);">
          <!-- <img src="./assets/images/banner_2.png" class="d-block w-100" alt="" /> -->
          <div class="carousel-caption">
            <h2 class="title">
              FINANCIA TUS COMPRAS <br />
              AHORA DE LA MEJOR FORMA
            </h2>
            <p class="mb-35">
              Consúlta nuestras diferentes <br />
              soluciones que se adaptan <br />
              a cada momento.
            </p>
            <a href="#" class="btn btn-add">VER MÁS</a>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url(./assets/images/banner_3.png); background-position: 60% center;">
          <!-- <img src="./assets/images/banner_3.png" class="d-block w-100" alt="" /> -->
          <div class="carousel-caption">
            <h2 class="title">
              ¡ENVÍOS RÁPIDOS, <br />
              FÁCILES Y SEGUROS!
            </h2>
            <p class="mb-35">
              Disponemos de cientos de <br />
              productos en stock con <br />
              entrega inmediata​.
            </p>
            <a href="#" class="btn btn-add">VER MÁS</a>
          </div>
        </div>
      </div>
      
      <button class="carousel-control-prev d-none d-lg-block" type="button" data-bs-target="#carouselFade" data-bs-slide="prev" >
        <img src="./assets/images/back.svg" alt="" />
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next d-none d-lg-block" type="button" data-bs-target="#carouselFade" data-bs-slide="next" >
        <img src="./assets/images/next.svg" alt="" />
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>