#add-to-cart {
  .modal-dialog {
    margin: 0.75rem auto;
    width: 90%;
    max-width: 400px;
    @media (min-width: 768px) {
      position: fixed;
      right: 2rem;
      top: 2rem;
      width: auto;
    }
    img {
      width: 100%;
      height: auto;
    }
    .modal-title {
      font-size: 1rem;
    }
    .textos-parrafos {
      font-size: 0.8rem;
    }
    @media (min-width: 360px) {
      .modal-title {
        font-size: 1.2rem;
      }
      .textos-parrafos {
        font-size: 1rem;
      }
    }
  }
}