#add-to-cart {
  .modal-dialog {
    margin: 0.75rem auto;
    width: 90%;
    max-width: 400px;
    @media (min-width: 768px) {
      position: fixed;
      right: 2rem;
      top: 100px;
      width: auto;
    }
  }
}