<footer>
  <section class="extended">
    <div class="extended-top"></div>
    <div class="container">
      <div class="row">
        <div class="icon-extended col-6 col-md-2 col-lg-2 text-center wow zoomIn">
          <a href="">
            <img src="./assets/images/custom-icon/mejores-precios.svg" alt="" />
            <p class="mt-3">
              Los <strong>mejores <br /> precios</strong> online
            </p>
          </a>
        </div>
        
        <div class="icon-extended col-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-center wow zoomIn">
          <a href="">
            <img src="./assets/images/custom-icon/envios-rapidos.svg" alt="" />
            <p class="mt-3">
              <strong>Envíos rápidos</strong> en <br /> productos de stock
            </p>
          </a>
        </div>
        
        <div class="icon-extended col-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-center wow zoomIn">
          <a href="">
            <img src="./assets/images/custom-icon/pagos-seguros.svg" alt="" />
            <p class="mt-3">
              Pagos rápidos, fáciles <br /> y <strong>100% seguros</strong>
            </p>
          </a>
        </div>
        
        <div class="icon-extended col-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-center wow zoomIn">
          <a href="">
            <img src="./assets/images/custom-icon/disenos-exclusivos.svg" alt="" />
            <p class="mt-3">
              <strong>Diseños exclusivos</strong> <br /> bajo demanda
            </p>
          </a>
        </div>
        
        <div class="icon-extended col-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-center wow zoomIn">
          <a href="">
            <img src="./assets/images/custom-icon/garantia-calidad.svg" alt="" />
            <p class="mt-3">
              <strong>Garantía de calidad</strong> <br /> en todos nuestros <br /> productos
            </p>
          </a>
        </div>
        
        <div class="icon-extended col-6 col-md-2 col-lg-2 text-center wow zoomIn">
          <a href="">
            <img src="./assets/images/custom-icon/devolucion-dinero.svg" alt="" />
            <p class="mt-3">
              <strong>Te devolvemos <br /> el dinero</strong>
              <a href="javascript:void(0)"><i>+info</i></a>
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="extended-bottom"></div>
  </section>
  
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-4 offset-lg-1">
        <div class="text-center">
          <img class="logo-footer wow zoomIn" src="./assets/images/logo.svg" alt="" />
        </div>
        <p class="description-logo wow fadeInLeft">
          En MUEBLES + AHORRO contarás con más de 1.000 m² de exposición de
          fantásticos muebles, sistemas de descanso, etc. Además, te
          asesoraremos y aportaremos las mejores ideas para que conviertas
          tu casa en tu hogar al mejor precio.
        </p>
        
        <div class="footer-logos wow fadeInUp">
          <div class="logo-left">
            <img class="img-fluid" src="./assets/images/payment-group.svg" alt="" />
          </div>
          <div class="logo-right mt-3 mt-xl-0">
            <a href="javascript:void(0)" class="anime-zoom">
              <img src="./assets/images/facebook.svg" alt=""/>
            </a>
            <a href="javascript:void(0)" class="anime-zoom">
              <img src="./assets/images/instagram.svg" alt=""/>
            </a>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-1 divisor-mobile"><div class="divisor"></div></div>
      <div class="col-md-6 col-lg-5">
        <div class="newsletter">
          <h3 class="wow fadeInRight">
            ¡SUSCRÍBETE A NUESTRA NEWSLETTER Y RECIBE <br> AHORA UN CUPÓN CON 5€ DE DESCUENTO!
          </h3>
          <form class="row g-3 wow fadeInUp">
            <div class="col-12 col-md-7 input-suscribed">
              <input type="text" class="form-control" placeholder="Correo electrónico" />
            </div>
            
            <div class="col-12 col-md-5 subscribed">
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-suscribe">
                  Suscribirse
                </button>
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                <label class="form-check-label" for="flexCheckChecked">
                  Acepto la
                  <a href="javascript:void(0)">
                    <strong>Política de Privacidad</strong>
                  </a>
                  y los
                  <a href="javascript:void(0)">
                    <strong>Términos y condiciones.</strong>
                  </a>
                </label>
              </div>
            </div>
          </form>
        </div>
        
        <ul class="contact-list wow fadeInRight">
          <li class="row">
            <div class="col-icon">
              <img src="./assets/images/telefono.svg" alt="" />
            </div>
            <div class="col-text">
              <span>
                <a href="tel:+34928257098">+34 928 25 70 98</a>
              </span>
            </div>
          </li>
          <li class="row">
            <div class="col-icon">
              <img src="./assets/images/email.svg" alt="" />
            </div>
            <div class="col-text">
              <span>
                <a href="mail:info@mueblesmasahorro.com">info@mueblesmasahorro.com</a>
              </span>
            </div>
          </li>
          <li class="row">
            <div class="col-icon">
              <img src="./assets/images/ubicacion.svg" alt="" style="width: 30px;" />
            </div>
            <div class="col-text">
              <span>C/ Mariucha, Nº 109 B, 35012, Las Palmas de Gran Canaria.</span>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="col-12 footer-link wow fadeInDown">
        <ul>
          <li><a href="javascript:void(0)">¿Quiénes somos?</a></li>
          <li><a href="javascript:void(0)">Financiación</a></li>
          <li><a href="javascript:void(0)">Aviso legal</a></li>
          <li><a href="javascript:void(0)">Cookies</a></li>
          <li><a href="javascript:void(0)">Política de privacidad</a></li>
          <li><a href="javascript:void(0)">Términos y condiciones</a></li>
        </ul>
        
        <div class="copy">
          Muebles + Ahorro. Todos los derechos reservados.
        </div>
      </div>
    </div>
  </div>
</footer>