<div id="sideNav" class="sidenav">
  <button type="button" class="btn-close closebtn" onclick="closeNav()" style="font-size: inherit"></button>
  
  <div class="text-center mb-3">
    <img class="logo-xs" src="./assets/images/logo.svg" alt="" />
  </div>
  
  <ul>
    <li>
      <a href="javascript:void(0)">
        <img src="./assets/images/sofas.svg" alt="" /> Sofas
      </a>
      <ul>
        <li><a href="#">Sofás chaise longue</a></li>
        <li><a href="#">Sofás y conjuntos</a></li>
        <li><a href="#">Sillones orejeros</a></li>
        <li><a href="#">Sillones relax</a></li>
        <li><a href="#">Sofás cama</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="./assets/images/colchones-canapes.svg" alt="" />
        Colchones y Canapés
      </a>
      <ul>
        <li><a href="#">Pack de canapé y colchón</a></li>
        <li><a href="#">Colchones viscoelásticos</a></li>
        <li><a href="#">Colchones de muelles ensacados</a></li>
        <li><a href="#">Canapés</a></li>
        <li><a href="#">Bases tapizadas</a></li>
        <li><a href="#">Somieres</a></li>
        <li><a href="#">Almohadas</a></li>
        <li><a href="#">Textil hogar</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="./assets/images/salones.svg" alt="" />
        Salones
      </a>
      <ul>
        <li><a href="#">Muebles de sala</a></li>
        <li><a href="#">Sofás y conjuntos</a></li>
        <li><a href="#">Sillones orejeros</a></li>
        <li><a href="#">Sillones relax</a></li>
        <li><a href="#">Sofás cama</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="./assets/images/mesas-sillas.svg" alt="" />
        Mesas y Sillas
      </a>
      <ul>
        <li><a href="#">Mesas de comedor</a></li>
        <li><a href="#">Mesas de centro</a></li>
        <li><a href="#">Mesas de cocina</a></li>
        <li><a href="#">Conjunto mesas y sillas</a></li>
        <li><a href="#">Sillas de Comedor</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="./assets/images/dormitorios-juveniles.svg" alt="" />
        Dormitorios Juveniles
      </a>
      <ul>
        <li><a href="#">Dormitorios juveniles</a></li>
        <li><a href="#">Camas</a></li>
        <li><a href="#">Armarios juveniles</a></li>
        <li><a href="#">Mesas de estudio y estanterías</a></li>
        <li><a href="#">Mesitas</a></li>
        <li><a href="#">Cómodas</a></li>
        <li><a href="#">Cabeceros</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="./assets/images/dormitorios-matrimoniales.svg" alt="" />
        Dormitorios Matrimoniales
      </a>
      <ul>
        <li><a href="#">Dormitorios matrimonio</a></li>
        <li><a href="#">Sinfonieres</a></li>
        <li><a href="#">Espejos</a></li>
        <li><a href="#">Armarios matrimonio</a></li>
        <li><a href="#">Mesitas</a></li>
        <li><a href="#">Cómodas</a></li>
        <li><a href="#">Cabeceros</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="./assets/images/armarios-zapateros.svg" alt="" />
        Armarios y Zapateros
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="./assets/images/oficina-en-casa.svg" alt="" />
        Oficina en casa
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="./assets/images/exclusive.svg" alt="" />
        Exclusive
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="./assets/images/outlet.svg" alt="" />
        <span class="badge bg-red">OUTLET</span>
      </a>
    </li>
  </ul>
</div>